html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $primary;
}

.link, a {
    text-decoration: none;
}

.loading {
    color: #fff;
    font-size: 1.2rem;
    font-weight: normal;
    width: 100%;
}

.logo {
    margin: 0 auto;
    padding-top: 58px;
    height: auto;
    width: 227px;

    img {
        height: 48px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 720px) {
    .logo {
        width: 160px;
        padding-top: 42px;

        img {
            height: 34px;
        }
    }
}

@media screen and (max-width: 470px) {
    .logo {
        width: 133px;

        img {
            height: 28px;
        }
    }
}