.list {
    margin: 0 auto;
    width: 100%;
    max-width: 1720px;
    padding: 107px 32px 0 32px;

    .header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            color: #fff;
            font-size: 24px;
            font-weight: 500;
        }

        button {
            padding: 10px 24px;
            color: #fff;
            font-size: 18px;
            font-weight: normal;
            border: 1px solid $green;
            outline: none;
            border-radius: 8px;
            background: transparent;
            cursor: pointer;
        }
    }

    .sliderContent {
        margin-top: 36px;
    }
}

.list.meetTheCast {
    margin-top: 60px;
}

@media screen and (max-width: 1620px) {
    .list {
        max-width: 1440px;
    }
}

@media screen and (max-width: 660px) {
    .list {
        padding: 50px 28px 0 28px;

        .header {
            .title {
                font-size: 20px;
            }

            button {
                padding: 8px 20px;
                font-size: 14px;
            }
        }

        .sliderContent {
            margin-top: 18px;
        }
    }
}

@media screen and (max-width: 470px) {
    .list {
        .header {
            .title {
                font-size: 16px;
            }

            button {
                padding: 6px 16px;
                font-size: 10px;
            }
        }
    }
}