.itemsBox {
    padding: 0 10px;
    padding-bottom: 2rem;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: url('../../assets/images/cast/background.png');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

    .itemsContent {
        margin: 0 auto;
        margin-top: 110px;
        max-width: 1720px;

        .itemsTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                color: $blue;
                font-size: 64px;
                font-weight: 600;
            }

            .filterBox {
                display: flex;
                width: 420px;
                height: 45px;
                align-items: center;
                justify-content: center;
                border-radius: 0.2rem;
                overflow: hidden;

                select {
                    color: #fff;
                    height: 100%;
                    width: 32%;
                    padding: 0 0.4rem;
                    font-size: 1.2rem;
                    border: none;
                    outline: none;
                    background: $blue;

                    option {
                        background: $primary;
                    }
                }

                input {
                    padding: 0 0.6rem;
                    color: #fff;
                    font-size: 1.2rem;
                    height: 100%;
                    width: 68%;
                    outline: none;
                    border: 1px solid $blue;
                    border-left: none;
                    box-sizing: border-box;
                    border-radius: 0 0.2rem 0.2rem 0;
                    background: $primary;
                }
            }
        }

        .itemsWrap {
            margin-top: 40px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 3rem;
        }
    }

    .paginationBox {
        padding: 6rem 0 2rem 0;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .paginationBtns {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style-type: none;

            .paginationBtn {
                margin-right: 1rem;
                border: 1px solid #0dbec7;
                border-radius: 0.2rem;

                button {
                    padding: 0.5rem 0.8rem;
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 400;
                    cursor: pointer;
                    width: auto;
                    min-width: 2.4rem;
                    height: 2.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    outline: none;
                    background: transparent;
                }

                button.arrowBtn {
                    padding: 0.54rem 0.8rem;
                }

                button.activeBtn {
                    color: #fff;
                    background-color: #0dbec7;
                }

                &:first-child,
                &:last-child {
                    border: none;

                    button {
                        .arrowIcon {
                            color: #ddd;
                            font-size: 2.4rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1740px) {
    .itemsBox {
        padding: 0 2rem 5rem 2rem;

        .itemsContent {
            max-width: 1420px;
        }
    }
}

@media screen and (max-width: 1240px) {
    .itemsBox {
        .itemsContent {
            .itemsTitle {
                h1 {
                    font-size: 50px;
                }
            }

            .itemsWrap {
                justify-content: space-evenly;
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .itemsBox {
        .itemsContent {
            .itemsTitle {
                h1 {
                    font-size: 40px;
                }
        
                .filterBox {
                    width: 320px;
                    height: 40px;
        
                    select {
                        font-size: 1rem;
                    }
        
                    input {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .itemsBox {
        padding: 0 24px 156px 24px;

        .itemsContent {
            margin-top: 70px;

            .itemsTitle {
                flex-direction: column;

                h1 {
                    margin-bottom: 2rem;
                    font-size: 50px;
                }

                .filterBox {
                    margin-bottom: 1rem;
                    width: 420px;
                }
            }

            .itemsWrap {
                gap: 2rem;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .itemsBox {
        .itemsContent {
            .itemsWrap {
                gap: 1rem;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .itemsBox {
        .paginationBox {
            .paginationBtns {
                .paginationBtn {
                    margin-right: 0.8rem;
    
                    button {
                        padding: 0.28rem 0.48rem;
                        min-width: 1.8rem;
                        height: 1.8rem;
                        font-size: 0.8rem;
                    }
    
                    button.arrowBtn {
                        padding: 0;
                    }
    
                    &:first-child,
                    &:last-child {    
                        button {
                            .arrowIcon {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .itemsBox {
        padding: 0 1rem 5rem 1rem;

        .itemsContent {
            margin-top: 50px;

            .itemsTitle {
                h1 {
                    font-size: 40px;
                }

                .filterBox {
                    width: 300px;
                    height: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .itemsBox {
        .itemsContent {
            .characterWrap {
                margin-top: 28px;
            }
        }
    }
}