.meetTheCast {
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 10px;
    width: 100%;
    max-width: 1440px;

    .header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            color: #fff;
            font-size: 24px;
            font-weight: 500;
        }

        button {
            padding: 10px 24px;
            color: #fff;
            font-size: 18px;
            font-weight: normal;
            border: 1px solid $green;
            outline: none;
            border-radius: 8px;
            background: transparent;
            cursor: pointer;
        }
    }

    .sliderContent {
        margin-top: 28px;
    }
}